<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CollegeFest</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="index.html" style="font-family: 'Amita';font-size: 3.15rem;"><img src="assets/img/2021-05-15_17h45_13.png" style="width: 140px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Registration.html" style="pointer-events: none">Registration</a></li>
                    <li class="nav-item"><a class="nav-link" href="allevents.html">Bookings</a></li>
                    <li class="nav-item"><a class="nav-link" href="sponsors.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="sponsors.html">FAQ</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="getintouch">
        <div class="container modern-form">
            <div class="text-center">
                <h4 style="color: #212529;font-size: 45px;">Login</h4>
            </div>
            <hr class="modern-form__hr">
            <div class="modern-form__form-container" style="width: 1108px;padding-top: 10px;">
                <form action="http://localhost:3000/auth" method="POST">
                    <div class="form-row">
                        <div class="col col-contact">
                            <div class="form-group modern-form__form-group--padding-r">
                                <input name="email" class="form-control input input-tr" type="text" placeholder="Email Id">
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col col-contact">
                            <div class="form-group modern-form__form-group--padding-l">
                                <input name="password" class="form-control input input-tr" type="text" placeholder="Password">
                                <div class="line-box">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col text-center"><button class="btn btn-primary submit-now" type="submit">Submit&nbsp;</button></div>
                    </div>
                    <div class="form-row" style="margin-top: 20px;">
                        
                        <div class="col text-center">Dont Have an Account? <a href="/register">Register Here</a></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="footer-clean" style="bottom: 0%;">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Events</h3>
                        <ul>
                            <li><a href="#">Poster Presentation</a></li>
                            <li><a href="#">Hackathon</a></li>
                            <li><a href="#">More...</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">College Fest</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Our Sponsors</h3>
                        <ul>
                            <li><a href="#">Become A Sponsor</a></li>
                            <li><a href="#">All Sponsors</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>